<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Titulo</title>


</head>
<body>
    <div id="app">
        <h1>{{titulo}}</h1>
        <ul>
            <li v-for="item of arr">{{item}}</li>
        </ul>
        <ul>
            <li v-for="item2 of objetos">
                <span v-if="item2.estado !== 'ocupado'">  {{item2.nombre}} -   {{item2.estado}}</span>
            </li>
        </ul>
        <input type="text" v-model="nuevoItem" @keyup.enter="addItem">
        <!--     <button @click="addItem">Add</button>    -->
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="01.js"></script>
</body>
</html>